<!DOCTYPE html>
<html lang="it" ng-app="odpv">
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8 ">
    <title>Open Dashboard | Pavia</title>
    
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bower_components/foundation/css/normalize.css">
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css">
    <link rel="stylesheet" href="app/css/style.css">
    
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/papaparse/papaparse.min.js"></script>
    <script src="app/controllers/main.js"></script>
    
</head>
<body ng-controller="testCtrl">
    
    <div class="container">
        <div class="sidebar">

        </div>

        <div class="content">
            <div class="row data-tables">
                <div class="small-12 columns">
                    <h3>{{tableTitle}}</h3>
                    <table>
                        <thead>
                            <tr ng-repeat="row in thead track by $index">
                                <th ng-repeat="cell in row track by $index">{{cell}}</th>
                            </tr>
                            <tr>
                                <th colspan="{{thead[0].length}}">
                                    <input type="text" ng-model="name"
                                    placeholder="Filtra i risultati per nome">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in tbody track by $index" ng-if="row[0]" data-n="{{$index}}" 
                               ng-show="filterByName($index)">
                                <td ng-repeat="cell in row track by $index" data-n="{{$index}}"
                                ng-if="$index !== (row.length - 1) && $index !== (row.length - 2) ">{{cell}}</td>
                            </tr>
                        </tbody>
                        <tfoot ng-show="name.length < 1">
                            <tr ng-repeat="row in tfoot track by $index">
                                <th ng-repeat="cell in row track by $index">{{cell}}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="medium-3 columns irap">
                    <p><span>{{irap[0][0]}}:</span> <span class="totals">{{irap[1][0]}}</span></p> 
                    
                </div>
                <div class="medium-5 columns irap end">
                    <p><span>{{irap[0][1]}}:</span> <span class="totals">{{irap[1][1]}}</span></p>
                </div>
            </div>
        </div>        <!-- /.content -->
    </div>            <!-- /.container -->
    
</body>
</html>