body,
h3 {
  font-family: 'Source Sans Pro', sans-serif;
}
.container {
  height: auto;
  overflow: hidden;
}
.container .sidebar {
  background-color: #222;
  width: 225px;
  float: left;
  position: relative;
}
.container .content {
  float: none;
  width: auto;
}
.data-tables .irap span {
  font-size: 1.4em;
}
table thead tr th thead tr {
  font-size: 13px;
  font-weight: 400;
}
table thead tr th tr td {
  font-size: 12px;
  font-weight: 300;
}
