body,
h3 {
  font-family: 'Source Sans Pro', sans-serif;
}
.container .content {
  padding-top: 30px;
}
.container .content > .row {
  width: 100%;
  max-width: 100%;
}
.data-tables h3 {
  text-transform: capitalize;
}
.data-tables .irap strong {
  color: #262626;
}
.data-tables .irap span.totals {
  font-size: 1.5em;
}
.data-tables .irap::first-child p {
  margin-bottom: 0;
}
table thead tr {
  font-size: 13px;
  font-weight: 400;
}
table thead tr th {
  text-align: center;
}
table thead tr th::first-letter {
  text-transform: uppercase;
}
table tr td {
  font-size: 13px;
  font-weight: 300;
}
