@font: 'Source Sans Pro', sans-serif;

body,h3{
    font-family: @font;
}

.container{
    height: auto;
    overflow: hidden;
    .sidebar{
        background-color: #222;
        width: 225px;
        float: left;
        position: relative;
    }
    .content{
        float: none;
        width: auto;
    }
}

.data-tables{
    .irap{
        span{
            font-size: 1.4em;
        }
    }
}


table thead tr th{
    thead{
        tr{
            font-size: 13px;
            font-weight: 400;
        }
    }
    tr{
        td{
            font-size: 12px;
            font-weight: 300;
        }
    }
}